<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='/index.css')}}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <img src="static/clipart786702.png" alt="">
        <span class="logo_name">PeacockMAA</span>
      </div>
        <ul class="nav-links">
          <li>
            <a href="{{ url_for('home') }}" class="active">
              <i class='bx bx-grid-alt' ></i>
              <span class="links_name">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('visMode') }}">
              <i class='bx bxs-palette'></i>
              <span class="links_name">Visulization</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-pyramid' ></i>
              <span class="links_name">Optimization</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('feedbackMode') }}">
              <i class='bx bx-envelope'></i>
              <span class="links_name">Feedback</span>
            </a>
          </li>
          <li class="log_out">
            <a href="#">
              <i class='bx bx-log-out'></i>
              <span class="links_name">Log out</span>
            </a>
          </li>
        </ul>
    </div>
    <section class="home-section">
      <nav>
        <div class="sidebar-button">
          <i class='bx bx-menu sidebarBtn'></i>
          <span class="dashboard">Dashboard</span>
        </div>
        <div class="profile-details">
          <!--<img src="images/profile.jpg" alt="">-->
          <span class="admin_name">JohnDoe</span>
          <i class='bx bx-chevron-down' ></i>
        </div>
      </nav>

      {% block content %}{% endblock %}

    </section>

    <script>
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".sidebarBtn");
      sidebarBtn.onclick = function() {
        sidebar.classList.toggle("active");
        if(sidebar.classList.contains("active")){
          sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
        }else
        sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
      }
    </script>

  </body>
</html>

